@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap');


body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.outer_section{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: absolute;
    background-size: cover;
}
.outer_section>img{
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.inner_section{
    position: relative;
    width: 81%;
    height: 100vh;
    z-index: 1;
    padding: 0 9em 0 9em;
    text-align: center;
}
.section_description{
    padding: 2em;
    background-color: rgba(0,0,0,0.6);
    width: 27em;
    position: absolute;
    bottom: 15em;
}
.show{
    animation: fade 1s ease-in;
}
.section_description_mid{
    width: 42vw;
    height: 26vh;
    position: absolute;
    top: 25%;
    left: 25%;
    background:none;
}
.section_description_mid>h1{
    font-size: 5em;
    margin: 0;
    font-weight: bold;
}
.section_description_right{
    right: 9em;
}
.section_description_left{
    left: 9em;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width:1000px) {
    .nav_link{
        display: none;
    }
    .outer_section, .inner_section, .section_description{
        padding:0;
        margin: 0;
    }
}